<h1>@zestia/ember-wrap-urls</h1>

<div class="ugc">
  <WrapUrls
    @text={{this.text}}
    @component={{component "wrap-urls/link" target="_blank"}} />

  <WrapUrls
    @text={{this.text}}
    @component="wrap-urls/url" />
</div>

{{!outlet}}