<div class="ugc">
  <WrapUrls
    @Url={{component "wrap-urls/link" target="_blank"}}
    @text={{this.text}}
  />

  <WrapUrls @Url={{component "wrap-urls/url"}} @text={{this.text}} />
</div>

{{!outlet}}